<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">

    <style>
        body{
            padding: 0;
            border: 0;
        }
    </style>

    {% block head %} {% endblock %}
</head>

<body class="bg-dark p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Minha Grade</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Grades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/minha_grade">Minha Grade</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid p-0" style="border: 0; padding: 0;">
        {% block content %} {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-center text-white">

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            &copy; Feito por
            <a class="text-white" href="https://github.com/IgorFroehner">Igor Froehner</a>
            <p>
                <a class="text-white" href="">GitHub</a>
            </p>
        </div>
    </footer>
    <!-- Footer -->

    {% block script %} {% endblock %}
</body>

</html>