{% extends "base.html" %}
{% block title %} Grades {% endblock %}
{% block head %} {% endblock %}
{% block content %}

<div class="card border-primary mt-3 m-2">
    <div class="card-header text-center">
        <h1 class="card-title">Grades</h1>
    </div>
    <div class="card-body">
        <div class="d-grid gap-2">
            {% for schedule in schedules %}
            <button class="btn btn-lg btn-primary" type="button" onclick="window.location.href = '/schedule/2'">{{ schedule['name'] }}</button>
            {% endfor %}
            <button class="btn btn-lg btn-primary" type="button" onclick="">Química</button>
            <button class="btn btn-lg btn-primary" type="button" onclick="">Mecânica 2015</button>
            <button class="btn btn-lg btn-primary" type="button" onclick="">Produção 2016-2</button>
            <button class="btn btn-lg btn-primary" type="button" onclick="">Produção 2019-2</button>
            <button class="btn btn-lg btn-primary" type="button" onclick="">Matemática 2011</button>
        </div>
    </div>
</div>

{% endblock %}