{% extends "base.html" %}
{% block title %} Grades {% endblock %}
{% block head %}
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}
{% block content %}

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="container">
                <div class="inner cover text-black">
                    <h1 class="cover-heading" style="font-size: 100px">MINHA GRADE</h1>
                    <p class="lead">Plataforma de gerenciamento de grades de graduação.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}