{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block head %}
    <link rel="stylesheet" href="style.css">
{% endblock %}
{% block content %}

<div class="row container-fluid" style="overflow-x: auto; overflow-y: auto; white-space: nowrap; flex-wrap: unset">


    <div class="card mb-3 mt-3 phase" style="max-width: 70%;">
        <div class="card-header">
            <h4 class="card-title">Fase 1</h4>
        </div>
        <div class="card-body container" style="min-height: 28rem; width: fit-content;">
            <div class="card bg-info mb-2" style="max-width: 20rem; min-width: 10rem;">
                <div class="card-body">
                    <h4 class="card-text text-center">CDI 2</h4>
                </div>
            </div>
            <div class="card bg-info mb-2" style="max-width: 20rem; min-width: 10rem;">
                <div class="card-body">
                    <h4 class="card-text text-center">CDI 2</h4>
                </div>
            </div>
            <div class="card bg-info mb-2" style="max-width: 20rem; min-width: 10rem;">
                <div class="card-body">
                    <h4 class="card-text text-center">CDI 2</h4>
                </div>
            </div>
            <div class="card bg-info mb-2" style="max-width: 20rem; min-width: 10rem;">
                <div class="card-body">
                    <h4 class="card-text text-center">CDI 2</h4>
                </div>
            </div>
            <div class="card bg-info mb-2" style="max-width: 20rem; min-width: 10rem;">
                <div class="card-body">
                    <h4 class="card-text text-center">CDI 2</h4>
                </div>
            </div>
            <div class="card bg-info mb-2" style="max-width: 20rem; min-width: 10rem;">
                <div class="card-body">
                    <h4 class="card-text text-center">CDI 2</h4>
                </div>
            </div>
            <div class="card bg-info mb-2" style="max-width: 20rem; min-width: 10rem;">
                <div class="card-body">
                    <h4 class="card-text text-center">CDI 2</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 mt-3 phase" style="max-width: 15rem;">
        <div class="card-header">
            <h4 class="card-title">Fase 2</h4>
        </div>

    </div>

    <div class="card mb-3 mt-3 phase" style="max-width: 15rem;">
        <div class="card-header">
            <h4 class="card-title">Fase 3</h4>
        </div>
        <div class="card-body container" style="min-height: 28rem; width: fit-content;">
            <div class="card bg-info mb-2" style="max-width: 20rem; min-width: 10rem;">
                <div class="card-body">
                    <h4 class="card-text text-center">CDI 2</h4>
                </div>
            </div>

        </div>
    </div>

    <div class="card mb-3 mt-3 phase" style="max-width: 15rem;">
        <div class="card-header">
            <h4 class="card-title">Fase 4</h4>
        </div>
        <div class="card-body container" style="min-height: 28rem; width: fit-content;">
            <div class="card bg-info mb-2" style="max-width: 20rem; min-width: 10rem;">
                <div class="card-body">
                    <h4 class="card-text text-center">CDI 2</h4>
                </div>
            </div>

        </div>
    </div>

    <div class="card mb-3 mt-3 phase" style="max-width: 15rem;">
        <div class="card-header">
            <h4 class="card-title">Fase 5</h4>
        </div>
        <div class="card-body container" style="min-height: 28rem; width: fit-content;">
            <div class="card bg-info mb-2" style="max-width: 20rem; min-width: 10rem;">
                <div class="card-body">
                    <h4 class="card-text text-center">CDI 2</h4>
                </div>
            </div>

        </div>
    </div>

    <div class="card mb-3 mt-3 phase" style="max-width: 15rem;">
        <div class="card-header">
            <h4 class="card-title">Fase 6</h4>
        </div>
        <div class="card-body container" style="min-height: 28rem; width: fit-content;">
            <div class="card bg-info mb-2" style="max-width: 20rem; min-width: 10rem;">
                <div class="card-body">
                    <h4 class="card-text text-center">CDI 2</h4>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}

{% block script %}

{% endblock %}