{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/css/schedules.css">
{% endblock %}
{% block content %}

    <div class="container text-center">
        <div class="alert alert-dismissible alert-primary mt-3">
            <h1>{{ schedule.name }}</h1>
            <form action="/my_schedule" method="POST">
                <input type="hidden" name="id_schedule" id="id_schedule" value="{{ schedule.id }}">

                {% if current_user.user %}
                    <button class="btn btn-success" type="submit">Tornar Esta Minha Grade</button>
                {% else %}
                    <p class="text-info mb-0">* Faça login para poder customizar a grade</p>
                {% endif %}
            </form>
        </div>
    </div>

    <div class="container text-center">

        {% for phase in schedule.phases %}

            <div class="card mb-3 mt-3 m-auto phase">
                <div class="card-header">
                    <h4 class="card-title">Fase {{ phase.phase_number }}</h4>
                </div>
                <div class="card-body container inside-card">

                    <div class="row">

                        {% for subject in phase.subjects %}

                            <div class="card bg-info mb-2 subject-cards">
                                <div class="card-body">
                                    <h5 class="card-text text-center">{{ subject.id_subject }}</h5>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>

            </div>
        {% endfor %}

    </div>

{% endblock %}